#puzzle {
	width: 600px;
	padding: 15px;
	border: inset 2px #000000;
	border-radius: 0.7rem;
}
.tile {
	height: 110px;
	width: 23%;
	margin-right: 2px;
	cursor: pointer;
	border-style: solid;
}
.selected {
	border-style: solid;
	background-color: #dbdbdb;
}
